<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <!-- <test thread-count="5" name="Test"> -->
	  
	  
  <test name="DashboardPage">
	 <classes>
	   <class name="first.DashboardPage"/>
	   <class name="first.Moods"/>
	   
	 </classes>
	
   </test>
<!--</suite>    -->



 <!-- <suite name="Suite2 "> -->
 
</suite> 